{# index.twig #}
{% extends "_layout.twig" %}

{% block page %}
<div class="jumbotron">
  <div class="container">
    <h1>{{ heading }}</h1>
    <p>{{ subhead }}</p>
    <p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
    </p>
  </div>
</div>


<section class="lp-feature-section">
  <div class="container">
    <h2 class="lp-feature-section-head">Awesome Feature</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="lp-feature-section-copy">
          Lorem ipsum dolor sit amet, movet scribentur eu mea, his ex dicant mucius dictas, nam in etiam corpora. Duo constituam delicatissimi no, vel ex illud augue consetetur
        </div>
      </div>
      <div class="col-sm-6">
        <div class="lp-feature-section-image">
          <img src="http://placehold.it/250x250" class="img-circle img-thumbnail">
        </div>       
      </div>
    </div>
  </div>
</section>

<section class="lp-feature-section">
  <div class="container">
    <h2 class="lp-feature-section-head">Another Awesome Feature</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="lp-feature-section-image">
          <img src="http://placehold.it/250x250" class="img-rounded">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="lp-feature-section-copy">
          Lorem ipsum dolor sit amet, movet scribentur eu mea, his ex dicant mucius dictas, nam in etiam corpora. Duo constituam delicatissimi no, vel ex illud augue consetetur
        </div>       
      </div>
    </div>
  </div>
</section>

<section class="lp-feature-section">
  <div class="container">
  <h2 class="lp-feature-section-head">React.js Content</h2>
  <!-- React.js App Container -->
  <div id="features"></div>
  </div>
</section>

{% endblock %}