{# layout.twig #}
<!DOCTYPE html>
<html>
<head>

    {% block header %}
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="A demo of how to use gulp-twig"/>
    <meta name="author" content="Simon de Turck"/>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ title }}</title>
    {% endblock %}
</head>
<body>

  <div class="ui page grid">
    <div class="column">
    {% block page %}{% endblock %}
    </div>
  </div>
    {% block scripts %}
      <script src="http://fb.me/react-with-addons-0.12.2.min.js"></script>
      <script src="assets/js/main.js"></script>
      <script src="assets/js/search.js"></script>
    {% endblock %}
</body>
</html>
