@import '../assets/vendor/bootstrap/less/bootstrap.less';

html {
    position: relative;
    min-height: 100%;
}
.btn-primary {
    color: #ffffff;
    background-color: #333;
    border-color: #333;
    &:hover {
        background-color: #666;
        border-color: #666;
    }
}
.btn {
    border-radius: 2px;
}
.footer {
    color: white;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    background-color: #333;
    padding: 50px;
    margin: 15px 0 0 0;
}
